<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @grupo_evento.descricao %>
</p>


<%= link_to 'Edit', edit_grupo_evento_path(@grupo_evento) %> |
<%= link_to 'Back', grupo_eventos_path %>
