 <ul>
    <li><a href="#" class="report">Sales Report</a></li>
    <li><a href="#" class="report_seo">SEO Report</a></li>
    <li><a href="#" class="search">Search</a></li>
    <li><a href="#" class="feed">RSS Feed</a></li>
</ul>