<ul>
	<li><a href="/lancamentos/new" class="addorder">Novo lançamento</a></li>
	<li><a href="/lancamentos/" class="shipping">Listar Lançamentos</a></li>
	<li><a href="#" class="invoices">Invoices</a></li>
</ul>